<div id="footer">
  <div class="container">
     <br />
     <div class='pull-left'>
       <%= image_tag 'k-logo.png' %>
       <div>© 2014 The Kairos Society<br /> All Rights Reserved.</div>
    </div>
    <div class='pull-right'>
      <%= image_tag 'footer-logos.png' %>
    </div>
  </div>
</div>
