<h1><%= @project.title %></h1>

<div><%= @project.description.html_safe %></div>

<embed width='500' 
  height='500' 
  src=<%= @project.video_url %>
  frameborder='0'
  allowfullscreen></embed>

<% @project.images.each do |image| %>
  <%= image_tag image.avatar.url(:medium) %>
<% end %>