<%= image_tag 'kairos.png', style: 'min-width: 100%; height: auto; margin-top: -20px;' %>

<div class='row' id='intro'>
  <div class='container' style='padding-top: 20px;'>
    <h1><i class="fa fa-globe"></i> <%= t(:'common.about_us') %></h1>
    <p class='intro-p'>Founded in 2008, the Kairos Society is a non-profit 501(c)3 organization based in the United States. We work to find and empower the young pioneers who will push the world forward through entrepreneurship and innovation</p> 
    <p class='intro-p'>Kairos Society ASEAN is a regional chapter of Kairos Society which aims to facilitate the establishment of the ecosystem of innovators and mentors in the South-East Asia region. Our mission lies in bringing the best innovations and tech companies in the region, thereby creating a collective ASEAN technology hub. </p>
  </div>
</div>


<div class='row' id='leadership'>
  <div class="container" id='leadership-interior'>
    <h1><i class="fa fa-users"></i> <%= t(:'about_us.leadership_team') %></h1><br />
    <!-- Three columns of text below the carousel -->
    <div class="col-lg-4 col-md-4">
      <%= image_tag 'jianmin.png', class: 'img-circle leadership-img' %>
      <h2><%= t(:'about_us.president') %></h2>
      <p>Sim Jian Min is the President of Kairos Society ASEAN. Having done his undergraduate studies at both Oxford and Princeton, Jian Min graduated with a Top First Class Honours in Masters in Engineering. He is working at the Agency for Science, Technology and Research.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 col-md-4">
     <%= image_tag 'lujie.png', class: 'img-circle leadership-img' %>
      <h2><%= t(:'about_us.vice_president') %></h2>
      <p>Sim Jian Min is the President of Kairos Society ASEAN. Having done his undergraduate studies at both Oxford and Princeton, Jian Min graduated with a Top First Class Honours in Masters in Engineering. He is working at the Agency for Science, Technology and Research.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 col-md-4">
      <%= image_tag 'dominic.png', class: 'img-circle leadership-img' %>
      <h2><%= t(:'about_us.it_director') %></h2>
      <p>Sim Jian Min is the President of Kairos Society ASEAN. Having done his undergraduate studies at both Oxford and Princeton, Jian Min graduated with a Top First Class Honours in Masters in Engineering. He is working at the Agency for Science, Technology and Research.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>
</div>

<div id='intro-video'></div>

<div id="P1"
  class="player"
  style="display:block; margin: auto; background: rgba(0,0,0,0.5)"
  data-property="{
    videoURL:'http://youtu.be/ZsErija8olI',
    containment:'#intro-video',
    startAt:0,
    mute:true,
    autoPlay:true,
    quality:'hd1080',
    loop:true,
    opacity:1}">
</div>

<div class='row' id='contact-us' data-bind='with: ContactUsViewModel'>
  <div class='container'>
    <h1><i class='fa fa-keyboard-o'></i> <%= t(:'contact_us.contact_us') %></h1>
    <%= content_tag :div, class: 'form-group' do %>
      <%= text_field_tag 'subject', nil, class: 'form-control', placeholder: t(:'contact_us.subject_placeholder'), data: {bind: 'value: subject'} %>
    <% end %>

    <%= content_tag :div, class: 'form-group' do %>
    <%= text_area_tag 'message', nil, class: 'form-control', rows: 4, placeholder: t(:'contact_us.message_placeholder'), data: {bind: 'value: message'} %>
    <% end %>

    <%= content_tag :div, class: 'form-group' do %>
    <%= submit_tag t(:'common.send'), class: 'btn btn-success', data: {bind: 'click: sendMessage'} do %>
      <% end %>
    <% end %>
  </div>
</div>

<script type='text/javascript'>
    $(document).ready(function() {
        ko.applyBindings();
        $('div#footer').css('margin-top', '0px');
    });
</script>



<!-- <div id="header"> -->
<!-- <iframe width="560" height="315" src="//www.youtube.com/embed/ZsErija8olI" frameborder="0" allowfullscreen></iframe> -->
<!-- </div> -->
<!-- <div class="left"></div> -->
<!-- <div class="right"> -->
<!-- <h4>Mission</h4> -->
<!-- <p>Founded in 2008, the Kairos Society is a non&#45;profit 501(c)3 organization based in the United States. We work to find and empower the young pioneers who will push the world forward through entrepreneurship and innovation &#45; we do so with the support of the top universities, mentors, and corporations across the globe. At the Kairos Society, we view today’s global problems as opportunities for entrepreneurs to focus on the meaningful businesses and innovations that will radically change the world for the better. Not only for our generation, but for the generations to come.</p> -->
<!-- <h4>Areas</h4> -->
<!-- <p>Some of the things Kairos Singapore is working on</p> -->
<!-- <ul> -->
<!-- <li>Events</li> -->
<!-- <li>Mentorship</li> -->
<!-- <li>Consultancy</li> -->
<!-- </ul> -->
<!-- <h4>Mentors</h4> -->
<!-- <p>Some of the prominent mentors who have over in Singapore</p> -->
<!-- <ul> -->
<!-- <li>Mr Hugh Mason (CEO JFDI.Asia)</li> -->
<!-- <li>Mr Douglas Abrams (CEO Expara)</li> -->
<!-- <li>Mr Paul Bradley (CEO Caprica International)</li> -->
<!-- <li>Mr Rodrigo Martinez (Successful entrepreneur &#38; investor)</li> -->
<!-- </ul> -->
<!-- <h4>Consultancy</h4> -->
<!-- <p>Through our established network in the region, we offer groups of experts in different fields who are able to provide expertise and knowledge to our innovators and partners.</p> -->
<!-- <ul> -->
<!-- <li>Data Analytics</li> -->
<!-- <li>Computer Vision</li> -->
<!-- <li>Artificial Intelligence</li> -->
<!-- </ul> -->
<!-- </div> -->
