<div class='container'>
  <div id='fellows-carousel' class="owl-carousel owl-theme">
    <div class="item"><%= image_tag 'P1060597.JPG' %></div>
    <div class="item"><%= image_tag 'P1060599.JPG' %></div>
    <div class="item"><%= image_tag 'P1060601.JPG' %></div>
  </div>
  <!-- START THE FEATURETTES -->
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Dr Vijay Chandrasekhar</h2>
      <p class="lead">Dr Vijay Chandrasekhar completed his B.S and M.S. from Carnegie Mellon University (2005), and Ph.D. in  Electrical Engineering from Stanford University (2013).  His research interests include mobile visual search, large-scale image and video retrieval, machine learning and data compression. He has published more than 50 papers/MPEG contributions in top-tier journals/conferences like IJCV, ICCV, CVPR, IEEE SPM, ACM MM, TIP, DCC, MPEG-CDVS etc, and has filed 9 US patents (pending). His Ph.D. work on feature compression led to the MPEG-CDVS (Compact Descriptors for Visual Search) standard, which he actively contributed from 2010-2013. He was awarded the A*STAR National Science Scholarship (NSS) in 2002.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag 'vijay.jpg', class: 'featurette-image img-responsive kairos-fellow' %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <%= image_tag 'shaowei.jpg', class: 'featurette-image img-responsive kairos-fellow' %>
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Dr Lin Shaowei</h2>
      <p class='lead'>Dr Lin Shaowei received the B.Sc. degree (with honors) in mathematics from Stanford University in 2005. From 2006 to 2011, he studied algebraic statistics under Bernd Sturmfels at the University of California, Berkeley and graduated with the Ph.D. in mathematics. After that, he completed a one-year collaboration with the artificial intelligence lab headed by Andrew Ng at Stanford University to explore mathematical challenges in deep learning. Shaowei has been invited to speak and teach at many workshops such as the 2012 Workshop on Algorithms for Modern Massive Data Sets (MMDS) and the 2013 Thematic Program on Motivic Invariants and Singularities at the Centre for Mathematics at Notre Dame (CMND).</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Dr Ng Ee Sin</h2>
      <p class='lead'>Dr Ng Ee Sin completed his B.Eng degree in Electrical & Electronic Engineering, followed by his MSc degree in Communications and Signal Processing from Imperial College in 2004. In 2012, he graduated with a Ph.D in Information Engineering from Cambridge University. His research interests include video analytics for industrial applications such as home, medical and environmental monitoring, as well as machine learning and image processing. He is also interested in the integration of image and video data with other data types for analysis and understanding of events. Previously, he has worked on the areas of signal processing, data analytics and multimedia search tools.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag 'eesin.jpg', class: 'featurette-image img-responsive kairos-fellow' %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <%= image_tag 'hanlin.jpg', class: 'featurette-image img-responsive kairos-fellow' %>
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Dr Goh Hanlin</h2>
      <p class='lead'>Dr Goh Hanlin graduated with a Ph.D. degree (highest honours) in computer science from the Université Pierre et Marie Curie – Sorbonne Universités, Paris, France, in 2013. He also holds a B.Eng. degree in computer engineering and a M.Sc. degree in bioinformatics from the Nanyang Technological University, Singapore, in 2007 and 2009 respectively. He has research experience in the areas of machine learning (deep learning), computer vision and image processing. He is also interested in exploiting meta-information and context to tackle challenging problems in data analytics and artificial intelligence.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Dr Pey Peixuan</h2>
      <p class="lead">Dr Pey Peixuan graduated from Imperial College with a BSc in Biochemistry and PhD in Neuropathology. She was awarded with the Overseas Research Studentship for her PhD. Her research involves neurodegenerative diseases and inflammation, with specific focus on Alzheimer’s and Parkinson’s diseases. She is well-versed in a wide variety of laboratory techniques, including biochemistry, molecular biology and microbiology techniques. She has also presented at the European Confederation of Neuropathological Societies (2010), and published a paper in Acta Neuropathologica Communications (2014).</p>
    </div>
    <div class="col-md-5">
      <%= image_tag 'peixuan.jpg', class: 'featurette-image img-responsive kairos-fellow' %>
    </div>
  </div>

  <hr class="featurette-divider">
  <!-- /END THE FEATURETTES -->
</div>

<script type='text/javascript'>
    $(document).ready(function() {
        $('#fellows-carousel').owlCarousel({
            navigation: true,
            slideSpeed: 300,
            paginationSpeed: 400,
            autoPlay: 5000,
            navigationText: ['<i class="fa fa-toggle-left"></i>', '<i class="fa fa-toggle-right"></i>'],
            singleItem: true,
            transitionStyle : "fade"
        });
    });
</script>
