<div class='container'>
  <div id='fellows-carousel' class="owl-carousel owl-theme">
    <div class="item"><%= image_tag 'P1060597.JPG' %></div>
    <div class="item"><%= image_tag 'P1060599.JPG' %></div>
    <div class="item"><%= image_tag 'P1060601.JPG' %></div>
  </div>
  <!-- START THE FEATURETTES -->
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Sim Jian Min <span class="text-muted">Technopreneur</span></h2>
      <p class="lead">Sim Jian Min is the Global Fellow of Kairos Society and also the President of Kairos Society ASEAN. Having done his undergraduate studies at both Oxford and Princeton, Jian Min graduated with a Top First Class Honours in Masters in Engineering. He is working at the Agency for Science, Technology and Research.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag 'jianmin.png', class: 'featurette-image img-responsive kairos-fellow' %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <%= image_tag 'lujie.png', class: 'featurette-image img-responsive kairos-fellow' %>
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Chen Lujie <span class="text-muted">ASEAN Fellow</span></h2>
      <p class='lead'>Chen Lujie is the Vice-President of Kairos Society ASEAN. Having graduated from University College London with a BSc in Economics, Lujie is currently co-authoring a book on 'Seek to Keep: How to Find the Best Teachers (mentors) in Life and Keep Them', while completing his Masters Programme at Stanford University</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Dominic Wong <span class="text-muted">ASEAN Fellow</span></h2>
      <p class='lead'>Dominic is the IT Director of Kairos Society ASEAN. He graduated from UCLA with summa cum laude in International Development Studies and Spanish and Portugese. He is currently working as a software engineer at OpsManager, an oilfield management startup.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag 'dominic.png', class: 'featurette-image img-responsive kairos-fellow' %>
    </div>
  </div>

  <hr class="featurette-divider">
  <!-- /END THE FEATURETTES -->
</div>

<script type='text/javascript'>
    $(document).ready(function() {
        $('#fellows-carousel').owlCarousel({
            navigation: true,
            slideSpeed: 300,
            paginationSpeed: 400,
            autoPlay: 5000,
            navigationText: ['<i class="fa fa-toggle-left"></i>', '<i class="fa fa-toggle-right"></i>'],
            singleItem: true,
            transitionStyle : "fade"
        });
    });
</script>
