<!-- HEADER -->
<table class="head-wrap" bgcolor="#999999">
  <tr>
    <td></td>
    <td class="header container" >
        <div class="content">
        <table bgcolor="#999999">
          <tr>
            <td><%= image_tag 'logo.png' %></td>
          </tr>
        </table>
        </div>
    </td>
    <td></td>
  </tr>
</table><!-- /HEADER -->

