<!-- social & contact -->
<table class="social" width="100%">
  <tr>
    <td>
      <!-- column 1 -->
      <table align="left" class="column">
        <tr>
          <td>
            <h5 class="">Connect with Us:</h5>
            <p class="">
              <a href="https://www.facebook.com/KairosSocietySingapore" class="soc-btn fb">Facebook</a> 
              <a href="https://twitter.com/KairosSociety" class="soc-btn tw">Twitter</a>
            </p>
          </td>
        </tr>
      </table><!-- /column 1 -->
      <!-- column 2 -->
      <table align="left" class="column">
        <tr>
          <td>
            <h5 class="">Contact Info:</h5>
            <p>
              Email: <strong><a href="emailto:jian.sim@kairossociety.org">jian.sim@kairossociety.org</a></strong></p>
          </td>
        </tr>
      </table><!-- /column 2 -->
      <span class="clear"></span> 
    </td>
  </tr>
</table><!-- /social & contact -->

