// statics/about.html
#intro {
  height: 520px;
  .intro-p {
    font-size: 30px;
  }
}

#leadership {
  background-color: #FFFFFF;
  #leadership-interior {
    padding: 30px;
  }
  .leadership-img {
    max-height: 140px;
  }
}

#intro-video {
  height: 400px;
}

#contact-us {
  background-color: #FFFFFF;
  height: 330px;
}

// statics/fellows.html
.kairos-fellow {
  width: 350px;
  height: 350px;
}

// events/show.html.erb
.register {
  margin-top: 25px;
}

#select-project-form {
  display: none;
  margin: 20px;
}

.project-register-event-final {
  margin-left: 10px;
}

.project-register-event, .project-unregister-event {
  width: 215px;
}

.user-register-event, .user-unregister-event {
  width: 190px;
}

.vote, .unvote {
  margin-left: 660px;
}

.event-address {
  font-size: 25px;
}

.startup-name {
  font-size: 40px;
  margin-right: 20px;
}

.startup-tag {
  font-size: 20px !important;
}

// projects/new.html.erb
#project-tag {
  width: 200px;
}

#project-container {
  background-color: #d3d3d3;
  padding: 30px;
}

#project-video {
  width: 100%;
  height: 500px;
}

.project-tag {
  font-size: 20px !important;
}

.volume-on, .volume-off, .play, .pause {
  position: fixed;
  top: 80px;
}

.volume-on {
  left: 20px;
}

.volume-off {
  left: 80px;
}

.play {
  left: 120px;
}

.pause {
  left: 180px;
}

a.project-image {
  float: left;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #808080;

  img {
    width: 100px;
    height: 60px;
  }
}

// comments/comments partial
ul.comments {
  margin-top: 100px;
}

// articles/show
.article-image {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

// users/show
#user-profile {
  min-height: 300px;
  max-width: 650px;
}

.nav-tabs-container {
  max-width: 650px;
}

.tab-content-container {
  background-color: #FFFFFF;
  padding: 20px;
  max-width: 650px;
}

ul#user-articles {
  li.user-article {
    margin-bottom: 30px;
    .user-article-image {
      height: 50px;
      width: 50px;
      margin-right: 10px;
    }
  }
}
